:root{
    /* z-index: ; */

    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
    @media screen and (min-width:993px){
        .rightheader2{
            width: 100%;
            font-size: 18px;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
            /* justify-content: right; */
            margin-right:10px;
            flex-wrap: wrap;
        }
    }
    .header {
        height: auto;
        /* align-items: center; */
        justify-content: space-between;
        font-size: xx-large;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        z-index: 1;
        background: transparent;
        background-color: transparent;
        font-family: "Heebo", sans-serif;
    }
    
    .leftheader2 {  
        margin: auto;
        font-size: 50px;
        align-items: center;
        justify-content: left;
        width: 100%;
        list-style: none;
        display: flex;
        text-decoration: none;
    }
    
    .leftheader2 a{
        text-decoration: none;
        color:#FCA016;
        
    }
    
    
    
    .rightheader2 a{
        text-decoration: none;
        color:white;
    }
    .rightheader2 a:hover{
        text-decoration: none;
        color:#FCA016;
        
    }
    
    
    .rightheader2 li{
        justify-content: left;
        /* text-align: left; */
        margin-left: 20px;
        list-style: none;
    }
    .rightheader2 button{
        background-color: #fea116;
        color: #fff;
        opacity: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 55px;
        margin-top: 5px;
        border-radius: 5px;
    
        font-size: 20px;
    }
    .rightheader2 button:hover{
        background-color:#DDA601;
        transition: .3s;
    }
    
    
    
    .header .rightheader2 {
        display: flex;
        list-style: none;
    }
    .header .menu-icon{
        color: white;
        font-size: 40px;
        display: none;
        cursor: pointer;
    }
    @media screen and (max-width:992px) {
        .rightheader2{
            flex-direction: column;
            text-align: left;
            padding-left: 0px;
            text-align: left;
            justify-content: left;
            align-items: left;
        }
        .header{
            background-color: #0C1222;
            flex-direction: column;
        }
        .header .menu-icon{
            display: block;
            position: absolute;
            right: 10px;
            top:0;
        }
        
        .rightheader2 ul{
            text-align: left;
            justify-content: left;
            align-items: left;    
            text-align: right;
        }
        .rightheader2 li{
            margin-bottom: 10px;
            margin-top: 20px;
            padding-left: 0;
            /* padding-right: 50px; */
            text-align: left;
            justify-content: left;
            align-items: left;
    
            font-size: 30px;
    
        }
        .rightheader2{
            width: 100%;
            font-size: 18px;
            /* align-items: center; */
            margin-top: auto;
            margin-bottom: auto;
            /* justify-content: right; */
            margin-right:10px;
            flex-wrap: wrap;
        }
        .rightheader {
            text-align: right;
            width:22%;
            position:fixed;
            right: 0;
            top:9%;
            height: 100%;
            background: #0C1222;
            /* display: none; */
            /* transition: transform 0.5s ease-in; */
            transform: translateX(100%);
        }
        .section1right img{
            margin:auto;
            scale:.9;
        }
    
    
    }



.menu-open{
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    }

/* end header */


/* start section one */
.headersection {
    background-image: url(https://themewagon.github.io/restoran/img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

.headersection .background-color{
    background-color: #0C1222;
    opacity: 85%;
    display: flex;
}

.main{
    animation: fadeInDown;
    animation-duration: 1s;
    width: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
} 
.main h1{ 
    
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: white;
    font-size: 60px;
    font-weight:bolder;
}
.main span{
    color: white;
}
.main a{
    text-decoration: none;
    color:#f89808;
}
.main a:hover{
    text-decoration: none;
    opacity: 85%;
}
/* END OF THE HEADER SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* START OF SECTION 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.sectionservices {
    animation:fadeInUp;
    animation-duration: 2s;
    margin-bottom: 100px;
    position: relative;
    /* height: 400px; */
  }
  .sectionservicestext h3{
    font-family: "Pacifico", cursive;
    color:#f89808;
  }
  .sectionservicestext{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  
  
  
    
  
  
  
  .sectionservices1{
    width: 90%;
    /* height: 400px; */
    /* display: flex ; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }
  .sectionservices2{
    animation:fadeInUp;
    animation-duration: 2s;
    width: 20%;
    border-radius: 10px;
    margin: auto;
    /* position:relative; */
    height: 350px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .sectionservices2 i{
    color: orange;
    scale: 3;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  @media screen and (max-width:992px){
    .sectionservices2{
        flex-basis: 40%;
        flex-wrap: wrap;
        height: 320px;
        /* position: relative; */
        margin-bottom: 30px;
    }
    .sectionservices21{
        flex-wrap: wrap;
    }
    .sectionservices1{
        height: auto;
    }
    .sectionservices{
        height: auto;
    }
    
  }
  @media screen and ( max-width: 576px) {
    .sectionservices2{
        flex-basis: 100%;
        flex-wrap: wrap;
        height: 200px;
        position: relative;
        margin-bottom: 30px;
    }
    .sectionservices21{
        flex-wrap: wrap;
    }
    .sectionservices1{
        height: auto;
    }
    .sectionservices{
        height: auto;
    }
  }
  
  #btn{
      height: 50px;
      width: 50px;  
      border: none;
      color: white;
      background-color:#FEA116 ;
      cursor: pointer;
      position: fixed;
      bottom: 10px;
      right: 10px;
  }
  
  
  
  
  
  
  
  .sectionservices21 {
    display: flex;
    position: relative;
    margin-top: 50px;
  }
  .sectionservices2:hover{
    background-color: #f89808;
    transition-duration: .3s;
  }
  .sectionservices2:hover i{
    scale: 3.5;
    transition-duration: 1s;
    color: white;
    /* transition-duration: s; */
  }




.sectionservices21 {
    display: flex;
    position: relative;
    margin-top: 50px;
}
.sectionservices2:hover{
    background-color: #f89808;
    transition-duration: .3s;
}
.sectionservices2:hover i{
    scale: 3.5;
    transition-duration: 1s;
    color: white;
    /* transition-duration: s; */
}





/* END OF SECTION 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */






/* START OF FOOTER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.footer {
    animation: fadeIn;
    animation-duration: 2s;
    color: #C2E4DB;
    background-color: #0C1222;
    height: 400px;
    
}
.footer h3{
    font-family: "Pacifico", cursive;
    color: #FEA929;
}
.footer .mini{
    display: flex;
    /* align-items:center; */
    /* margin: auto; */
    /* justify-content: space-between; */
}
.footer .mini1{
    width: 25%;
    margin-top: 40px;
    position: relative
    /* margin: auto; */
    /* justify-content: space-between; */
}
.footer .top{
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.footer .mini11{
    display: block;
    font-size: large;
}
.footer .mini12 a{
    border:1px solid;
    border-radius: 35px;
    text-decoration: none;
    margin-right: 15px;
    scale: 1.3;
    border-color: #C2E4DB;
    color: #C2E4DB;
    justify-content: center;
    align-items: center;
}
.footer .mini12 a:hover{
    cursor: pointer;
}
.footer .textbox{
    position: relative;
    background-color: #181A1B;
    height: 60px;
    width: 100%;
    z-index: 0;
    border: 1p solid;
    border-radius: 5px;
    border-color: #C2E4DB;
}
.footer .buttonbox{
    background-color: #f89808;
    color: white;
    position: absolute;
    border: 1p solid;
    right: 2px;
    top: 120px;
    
}
.footer ul{
    list-style:disc;
}
@media screen and (max-width:992px) {
    .footer {
        height: auto    ;
        flex-basis: 50%;
        flex-wrap: wrap; }
    .footer h3{
        flex-basis: 50%;
        flex-wrap: wrap;}
    
    .footer .mini{
        flex-basis: 50%;
        flex-wrap: wrap; }
    
   .footer .mini1{
        flex-basis: 50%;
        flex-wrap: wrap; }
    
    
.footer .top{
        flex-basis: 50%;
        flex-wrap: wrap; }
    
   .footer .mini11{
        flex-basis: 50%;
        flex-wrap: wrap;}
    
    .footer .mini12 a{
        flex-basis: 50%;
        flex-wrap: wrap; }
   .footer .mini12 a:hover{
        flex-basis: 50%;
        flex-wrap: wrap; }
    .footer .textbox{
        flex-basis: 50%;
        flex-wrap: wrap; }
    .footer .buttonbox{
        flex-basis: 50%;
        flex-wrap: wrap; 
        right: 2px;
        top: 95px;
}
    .footer ul{
        flex-basis: 50%;
        flex-wrap: wrap; }
}

@media screen and ( max-width: 576px) {
    .footer {
        flex-basis: 100%;
        flex-wrap: wrap;}
    .footer h3{
        flex-basis: 100%;
        flex-wrap: wrap; }
    
    .footer .mini{
        flex-basis: 100%;
        flex-wrap: wrap;}
    
    .footer .mini1{
        flex-basis: 100%;
        flex-wrap: wrap;}
    
    
.footer .top{
        flex-basis: 100%;
        flex-wrap: wrap; }
    
    .footer .mini11{
        flex-basis: 100%;
        flex-wrap: wrap; }
    
    .footer .mini12 a{
        flex-basis: 100%;
        flex-wrap: wrap; }
   .footer .mini12 a:hover{
        flex-basis: 100%;
        flex-wrap: wrap; }
    .footer .textbox{
        flex-basis: 100%;
        flex-wrap: wrap; }
    .footer .buttonbox{
        flex-basis: 100%;
        flex-wrap: wrap;
        right: 2px;
        top: 95px; }
    .footer ul{
        flex-basis: 100%;
        flex-wrap: wrap; }
}

#btn{
    height: 50px;
    width: 50px;  
    border: none;
    color: white;
    background-color:#FEA116 ;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
}